[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GPvam"]
	path = GPvam
	url = https://github.com/cran/GPvam
[submodule "RealVAMS"]
	path = RealVAMS
	url = https://github.com/cran/RealVAMS
[submodule "SVEMnet"]
	path = SVEMnet
	url = https://github.com/cran/SVEMnet
[submodule "glmmFEL"]
	path = glmmFEL
	url = https://github.com/cran/glmmFEL
[submodule "mixedbiastest"]
	path = mixedbiastest
	url = https://github.com/cran/mixedbiastest
[submodule "mvglmmRank"]
	path = mvglmmRank
	url = https://github.com/cran/mvglmmRank
